*{
    box-sizing: border-box;
}
.bgimg{
background-image: url(image/guitar123.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.bgcolor{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px; 
    padding-bottom: 330px;
}
h1{
font-size: 110px;
border: 1px solid white;
border-style: dashed;
}
.text1{
font-size: 100px;
border: 1px solid black;
border-style: dashed;
}
.bgimg1{
background-image: url(image/key.webp);
background-position: center;
background-size: cover;
}
.bgcol1{
background-color: rgba(0, 0, 0, 0.534);
color: white;
}
.triangle{
width: 0; 
height: 0; 
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid #198754;
position: relative;
margin: auto;
}
.bgimg2{
background-image: url(image/writing.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.bgcol2{
    background-color: rgba(0, 0, 0, 0.548);
}
.image::before{
    position: absolute;
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    left: -30px;
    top: 7%;
}
.hello::before{
    position: absolute;
    content: "";
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #f8f9fa;
    left: 20px;
    top: -19px;
    ;
}
.leo::after{
    position: absolute;
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f8f9fa;
    right: -30px;
    top: 13%;
}
.bgimg3{
    background-image: url(image/card.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.awe::before{
    position: absolute;
    content: "";
    border-right: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-top: 17px solid #198754;
    top: 100%;
    left: -1%;
}
.circle-wrap {
    margin: 120px auto;
    width: 200px;
    height: 200px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 100px, 200px, 0px);
  background-color: red;
}
.circle-wrap .circle .mask {
    clip: rect(0px, 200px, 200px, 100px);    
  }
  
  .mask.full,
  .circle .fill {
    transform: rotate(137deg);
  } 
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill-1 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .mask .fill-1 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: yellow;
  }
  .circle-wrap .circle .mask {
      clip: rect(0px, 200px, 200px, 100px);    
    }
    
    .mask.full-1,
    .circle .fill-1 {
      transform: rotate(171deg);
    } 
    .circle-wrap .circle .mask,
  .circle-wrap .circle .fill-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .mask .fill-2 {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: darkmagenta;
  }
  .circle-wrap .circle .mask {
      clip: rect(0px, 200px, 200px, 100px);    
    }
    
    .mask.full-2,
    .circle .fill-2 {
      transform: rotate(153deg);
    } 
    .circle-wrap .circle .mask,
    .circle-wrap .circle .fill-3 {
      width: 200px;
      height: 200px;
      position: absolute;
      border-radius: 50%;
    }
    .mask .fill-3 {
      clip: rect(0px, 100px, 200px, 0px);
      background-color: green;
    }
    .circle-wrap .circle .mask {
        clip: rect(0px, 200px, 200px, 100px);    
      }
      
      .mask.full-3,
      .circle .fill-3 {
        transform: rotate(124deg);
      } 
   .circle-wrap .inside-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    color: green;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    border: 1px solid #cdcbd0;
  }
  /* {
    for 76%
    360 deg/ 100 * 76 = 273.6
    273.6/2 = 136.8 (137 deg)

  } */
  
@media only screen and (max-width:576px) {
  .container h1{
    font-size: 50px;
  }
  .container h4{
    font-size: smaller;
  }
  .bgcolor{
    padding: 10px 0px 80px 0px;
  }
  .menu{
    text-align: center;
    font-size: smaller;
  }
  .text1{
    font-size: 40px;
  }
  .image img{
      width: 100%;
  }
  .pic{
    width: 40% !important ;
  }
  .fst-italic {
    padding: 0% !important;
  }
  .image::before{
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
    left: 21px;
    top: -13%;
}
.leo::after{
  position: relative;
  content: "";
  border: 0px;
  right: 0px;
  top: 0px;
  }
  .leo::before{
    position: absolute;
    content: "";
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid #f8f9fa;
    /* right: -30px; */
    /* top: 13%; */
    bottom: -16px;
    left: 17px;
}
.box{
  width: 100% !important;
  margin: 0px !important;
}
}